@import 'icon-material.css';

body {
    border: none;
    margin: 0;
    padding: 0;

    background: -webkit-radial-gradient(rgb(255,255,255) 15%, rgba(0,0,0,0) 16%), -webkit-radial-gradient(rgb(255,255,255) 15%, rgba(0,0,0,0) 16%), rgba(148, 148, 148, 0.05) !important;
    background: -moz-radial-gradient(rgb(255,255,255) 15%, rgba(0,0,0,0) 16%), -moz-radial-gradient(rgb(255,255,255) 15%, rgba(0,0,0,0) 16%), rgba(148, 148, 148, 0.05) !important;
    background: radial-gradient(rgb(255,255,255) 15%, rgba(0,0,0,0) 16%), radial-gradient(rgb(255,255,255) 15%, rgba(0,0,0,0) 16%), rgba(148, 148, 148, 0.05) !important;
    background-position: 0 0, 30px 30px !important;
    -webkit-background-origin: padding-box !important;
    background-origin: padding-box !important;
    -webkit-background-clip: border-box !important;
    background-clip: border-box !important;
    -webkit-background-size: 60px 60px !important;
    background-size: 60px 60px !important;

}

a {
    text-decoration: none !important;
}

/** Home  **/
.selectZip{
    background: white;
    max-width: 290px;
    min-height: 240px;
    margin: 40px auto 0px auto;
    box-shadow: 0px 7px 23px -9px rgba(0,0,0,0.5);
}

/** Main attribut **/
.float-right{
  float: right;
}
.float-left{
  float: left;
}

#home {
    width: 90%;
    margin: 4em auto 0px auto;
}

.mainNav {
    position: fixed !important;
    z-index: 10;
    top: 0;
    width: 100%;
    background: #dd127b!important;
    box-shadow: 0px 1px 14px rgba(0,0,0,0.5) !important;
    border: none !important;
    border-bottom: 4px solid #D0E9E9 !important;
    border-radius: 0px !important;
}

.city-nav{
    float: left;
    margin-top: 1.15em;
    color: white;
    cursor: pointer;
    font-weight: 100;
    letter-spacing: 0.05em;
    text-decoration: underline;
}
.city-nav:hover{
    color: #bbb;
}
.city-nav span {
    font-weight: 400;
}

.editCityBack{
    position:absolute;
    top:0px;
    width: 100%;
    height: 300%;
    background: rgba(0,0,0,0.5);
    display:none;
    z-index: 10;
    transition: all 0.3s;
    opacity: 0;
}
.editCity{
    position:fixed;
    z-index: 11;
    left: 50%;
    transform: translateX(-50%);
    top: -300px;
    background: white;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #aaa;
    transition: all 0.5s;
    box-shadow: 0px 6px 19px -1px rgba(0,0,0,0.5);
}

.closeCity {
    position: relative;
    color: #333;
    float: right;
    cursor: pointer;
}
.closeCity:hover{
    color:#03b9d2;
}

.navbar-default .navbar-nav>li>a {
    color: white !important;
}

.navbar-brand {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0) !important;
}

.main {
    padding: 0px;
    background: url(../img/kidclothes.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 480px;
}

/* Home Category */
.bg-gray-dark{
    background: white;
    border: 1px solid #eee;
    border-radius: 0.25em;
    padding: 0.3em 0.3em 0.3em 0.3em;
    margin-bottom: 1.5em;
    cursor: pointer;
}
.bg-gray-dark:hover {
    background:white, rgba(0,0,0,0.05);
}

.bg-gray-dark img {
    max-width: 100%;
    max-height: 225px;
    width: auto !important;
    height: auto;
    margin: auto;
}

.bg-gray-dark > h3 span{
    float: right;
    font-size: 0.7em;
    padding-top: 5px;
}

.main-category {
    border: none;
    background: rgba(0,0,0,0);
}
.main-category img {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 3px;
    border-radius: 5px;
}
.main-category:hover{
  background: none;
}
.main-category img:hover {
    background:#dd127b;
}

.bg-gray-dark p {
  margin-top: 10px;
}

.chooseCat{
    border: 1px solid rgba(0,0,0,0.05);
    min-height: 6em;
    margin: 1em;
    cursor: pointer;
}
.chooseCat:hover{
    background: rgba(0,0,0,0.05);
}
.chooseCat img {
    position: initial !important;
    height: 284px !important;
    width: 426px !important;
}

/* Product list */
.eachDiv {
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
}
.noPrev{
    display: none !important;
}

.question{
    float: right;
    transform: translate(-2%, 50%);
    min-width: 96.3% !important;
    margin-bottom:15px;
}

.nextPrev{
    background: rgba(0,0,0,0) !important;
    border: none !important;
    margin-left: 2em;
    min-width: 100px;
    color: #777 !important;
    text-shadow: none !important;
    box-shadow: none !important;
}
.nextPrev:hover {
    background: rgba(0,0,0,0.1) !important;
}

.myForm {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.col-md-6{
    padding: 5px !important;
}

.col-md-6 img {
    height: 90%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.product{
    height: 100%;
    background: rgba(255,255,255,0.05);
    box-shadow: rgba(0,0,0,0.3) 0px 1px 3px 1px;
    text-align: center;
}
.product img {
    max-height: 100%;
    max-width: 100%;
}

.titleProduct{
    position: absolute;
    left: 20px;
    margin-left: auto;
    margin-right: auto;
    bottom: 29px;
    color: white;
    padding-left: 5px;
    text-shadow: none;
    font-weight: 300;
    letter-spacing: 1px;
}
.menuProduct{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -20px;
    background: rgba(0,0,0,0.5);
    color: white;
    width: 90%;
    padding: 30px 5px 5px 5px;
    height: 72px;
}

.row {
    padding-bottom: 35px;
}

.priceMenu {
    font-size: 1.4em;
    display: inline-block;
    line-height: 7px;
    margin: -9px;
    color: white;
    background: #DD127B;
    padding: 15px;
    border-radius: 3px 0px 3px 0px;
}

.infobutton{
    float: right;
    margin-right: 5px;
    text-shadow: none !important;
    background: rgba(0,0,0,0.6) !important;
    box-shadow: none !important;
    border: none !important;
    font-weight: 300 !important;
    letter-spacing: 0.5px;
    color: #555 !important;
}
.inf{
    color: white !important;
}
.infobutton:hover{
    background: #eee !important;
    color: #555 !important;
}
.infobutton:active{
    background: #ddd !important;
    outline: none !important;
    outline-offset: 0px !important;
    color: #555 !important;
}
.cartadd {
    background: white !important;
}

.cartaddInf {
    background: #eee !important;
    color: #555 !important;
    position: absolute;
    bottom: 25px;
    right: 20px;
    width: 50%;
}
.cartaddInf:hover {
    background: #aaa !important;
}


/*Modal product*/
.modal-body table tr {
    width: 100%;
}
.modal-body td {
    width: 50%;
}
.modal-body td>img {
    width: 100%;
}

/* My Cart style */
#myCart {
    margin-top: 0px;
    cursor: pointer;
}

#curCart {
    position: absolute;
    top: 3px;
    left: 0px;
    background: rgba(193,33,39,0.8);
    border-radius: 100%;
    width: 20px;
    text-align: center;
    color: white;
}

.cartMenu {
    width: 300px !important;
}

.tableProduct {
    width: 100%;
}
.cartPprice {
    width: auto !important;
}
.cartPprice {
    width: 45px !important;
}
.tableProduct td>img {
    height: 45px;
}
.cartButton {
    float: right;
    margin-right: 5px;
    text-shadow: none !important;
    color: #fff !important;
    box-shadow: none !important;
    border: none !important
}

.checkout{
    background: #4fbc70 !important;
}
.checkout:hover {
    background: #278945 !important;
}
.cancel{
    background: #f26868 !important;
}
.cancel:hover {
    background: #ba3b3b !important;
}
.alinEmpty{
    text-align: center;
    margin-top: 15px;
}


/* Add Product menu */
.previewImg {
    padding: 6px;
}
.fileInput {
    width: 230px;
}

.imgPreview {
    height: 300px;
    width: 100%;
    margin-top: 21px;
    text-align: center;
}
.imgPreview img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
}
.imgAdded{
    width: 100%;
    padding-top: 52px;
}
.imgPrevAdded{
    width: 70px;
    height: 70px;
    margin: 4px 4px 0px 0px;
    background: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline;
    float: left;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}
.hiddenRem{
  width: 70px;
  height: 70px;
  position: relative;
  top: 0px;
  transition: ease-in-out 0.1s !important;
  background: url('../img/close.png'),rgba(0,0,0,0.5);
  background-size: cover;
  opacity: 0;
}
.hiddenRem:hover{
  opacity: 1; 
}

.imgAdded img{
    height: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
}

.inputProd{
    margin-bottom: 10px;
}
.inputProd input, label{
    width: 150px;
    margin-right: 5px;
    height: 27px;
}

.firstLineForm {
  width: 100%;
}

.form-control{
    width: 160px !important;
    display: inline !important;
    height: 25px !important;
    border-radius: 0% !important;
}
.labelRegular{
    height: 20px;
    margin-bottom: 0px;
}
.genderLabel{
    width: 45px !important;
    margin: 0px 0px 0px 6px !important;
}
.genderRadio{
    width: 45px !important;
    margin: 0px 0px 0px 6px !important;
}
.spaceForm{
    width: 100%;
    height: 1px;
}
.desc {
    width: 100%;
    height: 210px;
    border: 1px solid rgba(0,0,0,0.1);
}

/* Manage product */
.imgAdp{
    float: left;
    width: 20%;
}
.imgAdp img {
    width: 150px;
}
.descAdp{
    float: right;
    width: 80%;
}
.descAdp input{
    width: 25%;
}
.descAdp textarea{
    width: 100%;
}
.eachDivProd {
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
}
.eachDivProd tr {
    margin-bottom: 10px;
}


/** Info product **/
.infoProd{
    margin-top: 70px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: inset 0 0 10px -4px rgba(0,0,0,0.5);
}

.qa{
    padding: 10px 0px 10px 0px;
}
.qa-row{
    padding-bottom: 15px;
}
.qa-noshow, .qap-noshow, .qaps-noshow {
    display: none;
    opacity: 0;
}
.qa-ask, .qap-ask{
    width: 99% !important;
    border: 1px solid rgba(0,0,0,0.1);
    position: relative;
    left: 50%;
    color:black;
    transform: translateX(-50%);
}

.qq{
    max-height: 100%;
    transition: all 1s;
}
.qqp, .qqps {
    max-height: 100%;
    transition: all 1s;
    background: #fff;
    padding: 0px 5px 25px 5px;
    margin: 0 !important;
    border: 10px solid #aaa;
}

.qa-other {
    border-radius: 5px;
    margin: 5px 0px 2px 0px;
    padding: 10px 10px 0px 10px;
    width: 100%;
    font-weight: 500;
}
.qa-owner{
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    padding-left: 10px;
    width: 100%;
    font-weight: 300;
}

/**  MANAGE PRODUCT  **/
.navEdit {
    width: 100%;
    background: #03b9d2;
}

.navEdit > .row > .col-md-3 {
    padding: 0px 40px 0px 10px;
}

.raised-button--white span {
    color:white !important;
}

.responseQa{
    margin-top: 5px;
}

@media screen and (max-width: 991px) {
    .navEdit > .row > .col-md-3 {
        padding: 0px 40px 0px 40px;
        margin-bottom: 5px;
    }

    .wrapper {
        overflow-x: scroll;
    }
    .wrapper-info{
        width: 816px;
        overflow: auto;
    }

    .question{
        float: right;
        transform: translate(-2%, 36%);
        min-width: 96.3% !important;
        margin-bottom:15px;
        max-width: 97% !important;
    }

    .navbar-collapse {
        width: 100%;
    }

}

@media screen and (max-width: 767px) {
    .city-nav {
        margin-top: -2.7em;
        margin-left: 10em;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    .city-nav {
        margin-top: -1.15em;
        font-size: 0.8em;
        margin-left: 0em;
    }

    .bg-gray-dark h3{
        text-align: center;
        top: 50px;
        position: relative !important;
    }

    .stepper{
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        top: 85px;
    }
}